<div class="footer">
  <div class="container-footer">
    <div class="footer-info">
      <div>
        <p>© 2023 duckbnb, Inc</p>
      </div>
      <div>
        <p> <span class="bold">fait avec <i class="fa-solid fa-heart"> </i> par la DuckTeam </span></p>
      </div>
    </div>
  </div>
</div>
