<div class='sidebar'>
  <%= link_to 'Utilisateurs', dashboards_manager_users_path, class: 'btn-sidebar' %>
  <%= link_to 'Produits', dashboards_manager_products_path, class: 'btn-sidebar' %>
  <%= link_to 'Finances', dashboards_manager_wallet_path, class: 'btn-sidebar' %>
</div>
