// Theme color
$primary-color: #FDCC27;
$secondary-color: #4614CD;
$tertiary-color: #56C9DE;
$text-color: rgb(34, 25, 45);
$white-color: white;
// $background-color: #F5ECEA;
$background-color: #F4EFFF;
$line-color: #CCCCDF;
$success-color: #248A3D;
$warn-color: #FF9532;
$error-color: #FF3232;

// Theme gradient
@mixin primary-gradient-background {
  background: rgb(255,80,60);
  background: linear-gradient(90deg, rgb(255,245,211) 0%, rgb(255, 198, 7) 100%);
}

@mixin secondary-gradient-background {
  background: rgb(255,80,60);
  background: linear-gradient(90deg, rgb(186,181,200) 0%, rgb(63, 10, 204) 100%);
}
