// Theme color
$primary-color: #FDCC27;
$secondary-color: #4614CD;
$tertiary-color: #56C9DE;
$text-color: white;
// $background-color: #F5ECEA;
$background-color: #F4EFFF;
$line-color: #CCCCDF;
$success-color: #248A3D;
$warn-color: #FF9532;
$error-color: #FF3232;
