.container-ca-day {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  background-color: white;
  border-radius: $border-radius-l;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: backInDown;
  animation-duration: 1s;

  .info-ca {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    div {
      height: 100px;
      width: 30vw;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .border-right {
      border-right: 1px solid grey;
    }
  }
}

.graphique {
  height: 60vh;
  width: 97vw;
  padding: 40px;
}

canvas {
  background-color: white;
  height: 50vh;
  width: 800px;
  padding: 15px;
}

.chart-js-finance{
  width: 800px;
  animation: fadeInUp;
  animation-duration: 1s;
}
