<div class="home-container">
  <%= image_tag "logo-home.svg", :class => "logo-home" %>
  <h1>Trouve un Duckshop près de chez toi</h1>
  <%= link_to 'Magasins près de moi', shops_path, :class=>"btn-shops-near" %>
</div>
<%= render 'components/footer' unless @hide_footer == true%>