<div class='new-cart-container mt-5'>
  <h3 class="text-center">Scannez le QR code pour sortir dans le magasin</h3>
  <%= image_tag "qr-code.svg", class: "box" %>
  <%= link_to 'Finir vos achats', carts_path,  :class=>"btn" %>
</div>
