<h3>Mon historique</h3>
<%# liste les achats de shop et les afficher (anciennes commandes)
quand clic de nouveau bill %>
<% @carts.each do |cart| %>
  <div class="card-shop active mb-2">
    <%= link_to cart_path(cart) do%>

      <div class="location"><%= cart.shop.location %></div>
    <% end %>
  </div>
<% end %>
