<div class='container-index-profil'>
  <%= link_to 'Info Perso', profil_path(current_user), :class=>"btn-profil" %>
  <%= link_to 'Mes duck-coins', shops_path, :class=>"btn-profil" %>
  <%= link_to 'Mes achats', carts_path, :class=>"btn-profil" %>
  <%= link_to 'Abonnements', shops_path, :class=>"btn-profil" %>
</div>
