


canvas{
  height: 300px;
  border-radius: 2em;
  margin-bottom: 16px;
  box-shadow: inset 0px 0px 12px -3px rgba(0,0,0,0.3);
}

.duck-pin-card-shop-index{
width: 20px;
height: 20px;
margin-right: 4px;
}

h3{
  font-weight: 700;
  margin-top: 0;
  padding: 0;
  font-size: 28px;
}

.card-shop {
  background-color: white;
  @include box;
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.1);
  // animation: fadeInLeft;
  // animation-duration: 0.5s;
  // animation-delay: 0.7s;
  h3, p, i{
    // color: black;
  }

  &:hover{

  }
}

.active {
  animation: tada;
  animation-duration: 1s;
  @include secondary-gradient-background;
  // margin-top: -32px;
  margin-top: 6px;
  margin-bottom: 6px;
  z-index: 1000;
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.4);
  h3, p, i{
    color: white;
  }

  .shop-index-nom-magasin{
    font-size: 1.3em;
    font-weight: 700;

    display: flex;
    gap: 6px;

    span{
      color: white;
    }

    i{
      color: white;
      margin-right: 4px;
    }

  }

  .shop-index-distance-magasin{
    span{
      color: rgb(255, 255, 255);
    }

    i{
      color: rgb(255, 255, 255);
      margin-left: 4px;
      margin-right: 4px;
    }
  }

}

.shop-index-nom-magasin{
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 6px;

  span{
    color: $text-color;
  }

  i{
    color: $primary-color;
    margin-right: 4px;
  }

}

.shop-index-distance-magasin{

  span{
    color: $text-color;
  }

  i{
    color: $primary-color;
    margin-left: 4px;
    margin-right: 4px;
  }

}

.bonome-qui-marche-shop-index{
  color: $primary-color;
}

// mapboxgl-ctrl-geocoder mapboxgl-ctrl
