.shop-show-search-box{
  animation: fadeInLeft;
  animation-duration: 0.5s;



  .shop-show-box-title{
  }

  .input-search{
    margin-top: 32px;

  }

  .search-bar-btn{
    margin-top: 32px;
  }
}




.shop-show-container {
  @include box;
  padding: 1em;
  margin-bottom: 1em;
  padding-bottom: 6px;
}

.category-container{
  margin-top: -16px;
  padding-bottom: 0px;
}

.card-category {
  animation: fadeInRight;
  animation-duration: 0.5s;
  animation-delay: 0.5s;

  border-radius: $border-radius;
  box-shadow: $btn-shadow;
  margin-top: 0.5em;
  width: 47%;
  padding: 0;

    img {
      border-radius: 1em 1em 0 0;
      width: 100%;
      height: 10vh;
      object-fit: cover;
      object-position: center;
    }

    p {
      font-weight: bold;
      padding: 3px 8px;
      color: black;
      font-size: 15px;
      //font size
    }
  }




  #see-all{
    color: $line-color;
    font-size: 0.8em;
    border: none;
    background-color: white;

    &:hover{
      text-decoration: underline;
    }
  }

  .category-name-shop-show{
    font-size: 1em;
  }


.shop-show-distances-box{

  i{
    color: $primary-color;
    margin-left: 6px;
  }
}

.shop-show-location-magasin-tittle-box {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 6px;

  img {
    width: 20px;

  }

  span {
    font-weight: 700;
    font-size: 1.3em;
    margin-left: 6px;

  }

}

.icon-shop-show-man {
  color: $primary-color;
}

.shop-show-box-title {
  font-weight: 500;
  color: $line-color;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 6px;
}


.button-box{
  display: flex;
  justify-content: center;
  margin-top: 0em;

    .shop-button {
      width: 80%;
      height: 60px;
      margin-bottom: 30px;
      background-color: $secondary-color;
      border-radius: 2em;
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
      @include secondary-gradient-background();
      font-weight: 700;
      font-size: 1.3em;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        outline: 2px solid $secondary-color;
        color: $secondary-color;
        background: $white-color;
      }
    }
  }

.search-bar-box-show-shop{
  margin: 16px 0 16px 0;
}
