.mapboxgl-popup {
  max-width: 20%;
}

.mapboxgl-popup-content {
  border-radius: $border-radius-l;
  text-align: start;
  font-family: $body-font;
  padding: 1em;

  h3 {
    font-size: 16px;
  }

  .button {
    margin: 0 auto;
    width: 55%;
    color: white;
  }

}

.mapboxgl-popup-close-button {
  background-color: $primary-color;
  color: $white-color;
  border-radius: 21px;
  right: -2px;
  top: -7px;

  &:hover {
    color: $primary-color;
    background-color: $white-color;
  }
}
