nav {
  display: flex;
  flex-direction: column;

  .margin-top {
    width: 100vw;
    height: 60px;
    padding-inline: 3vw;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      color: white;
    }
  }

  .nav-box {
    width: 100vw;
    height: 60px;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .nav-profil {
      width: 30vw;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .img {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        border: solid 2.5px $primary-color;
        object-fit: cover;
      }
    }

    .root-link {
      color: black;
      font-weight: 700;
    }

    p {
      width: 30vw;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
