.sidebar {
  width: 95vw;
  height: 60px;
  font-weight: 600;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;

  .btn-sidebar:hover {
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
  }
}
