// External libraries
@import "font-awesome";
@import "bootstrap";


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/mixins";
@import "config/_default_html";

// CSS components
@import "components/index";

// CSS pages
@import "pages/home";

// CSS products
@import "products/index";
@import "products/show";

// CSS shops
@import "shops/index";
@import "shops/show";

// CSS carts
@import "carts/new";
@import "carts/edit";
@import "carts/show";
@import "carts/index";

// CSS profils
@import "profils/index";
@import "profils/show";

// CSS dashboards_manager
@import "dashboards_manager/products";
@import "dashboards_manager/wallet";
@import "dashboards_manager/users";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.notice{
  margin: 0;
}

.main-container{
  padding: 1em;
}
