// --------------- PRODUCT SHOW CONTAINER ---------------

.product-show-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

// --------------- PRODUCT IMG BOX ---------------

.product-img-box {

  max-height: 220px;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;

  animation: fadeInLeft;
  animation-duration: 1s;

  .product-show-main-img {
    width: 100%;
    object-fit: contain;
    border-radius: 2em;
    padding: 1em;


  }

  .product-show-price-box{
    margin: 0;
    font-size: 1.5em;
    font-weight: 300;
    min-width: 2.5em;
    text-align: right;
    position: absolute;
    background-color: $primary-color;
    padding: 0.5em 0.5em 0.5em 1em ;
    right: 0;
    bottom: 1em;
    border-radius: 1em 0 0 1em;
    color: $white-color;
    box-shadow: -6px -6px 15px -3px rgba(0,0,0,0.1);



    span{
      font-family: 'Fira Code', monospace;
      font-weight: bold;
    }


    .duckcoin-product-show{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      // outline: 1px solid red;
    }
  }



}
// --------------- PRODUCT INFO BOX ---------------

.product-box{

  animation: fadeInRight;
  animation-duration: 1s;

  .name-price-box{
    width: 100%;
    margin-bottom: 0.5em;
    position: relative;

    .name{
      margin: 0;
      font-size: 1.3em
    }

    &::after{
      content: " ";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $background-color;
      position: absolute;
      bottom: -4px;
    }
  }

  .unit-category-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;

    .unit{
      margin-bottom: 0.3em;
    }

    .category{
      margin: 0;
      color: darken($line-color, 30);
      font-weight: 300;
      i{
        margin-right: 0.3em;
      }
    }
  }

}


// --------------- PRODUCT STOCK BOX ---------------

.product-stock-box{

  animation: fadeInLeft;
  animation-duration: 1s;

  i{
    margin-right: 0.3em;
  }

  .disponibility{
    margin-bottom: 0.4em;
    .in-stock{
      color: $success-color;
    }
    .out-of-stock{
      color: $error-color;
    }
  }

  .shop{


  }
}


// --------------- PRODUCT SHOW BUTTON ---------------

.button-box{
  bottom: 1em;
  display: flex;
  justify-content: center;
  height: max-content;
  align-items: start;
  margin-top: 0;

  animation: zoomIn;
  animation-duration: 1s;


    .shop-button {
      align-self: flex-end;
      width: 80%;
      height: 60px;
      margin-top: 0;
      margin-bottom: 30px;
      background-color: $secondary-color;
      border-radius: 2em;
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
      @include secondary-gradient-background();
      font-weight: 700;
      font-size: 1.3em;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      a{
        margin-top: 0;
      }

      &:hover{
        outline: 2px solid $secondary-color;
        color: $secondary-color;
        background: $white-color;
      }
    }
  }


  .neg-m-top{
    margin-top: 0px;
  }
