.carts-container {
  background-color: white;
  border-radius: $border-radius-l;
  padding: 1em;
}

.cart-box-shop{
  padding: 1em;
  margin-bottom: 1em;
  position: relative;

  &::after{
    display: block;
    content: " ";
    background-color: $line-color;
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: -10px;
  }
  img {
    width: 25px;
    height: 25px;
  }

  p {
    color: gray;
    font-size: smaller;
  }

  h3 {
    font-size: 18px;
  }

  #date {
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    color: black;
    font-size: 12px;
  }
}
