.new-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 580px;


  .qr-code-icons{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;

    i{
      color: $line-color;
      font-size: 46px;
    }

    .fleche-droite{
      margin-left: 16px;
      margin-right: 16px;
    }
  }


  h3 {
    // padding: 20px;
    font-weight: 500;
    width: 80%;

  }



}

.qr-code-img{
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 2em;
  border-radius: 1em;
  border: 2px solid white;
  box-shadow: inset 6px 6px 15px -3px rgba(0,0,0,0.2);
}


.btn {

  display: none;

  width: 300px;

  height: 60px;

  border-radius: 2em;

  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);

  @include secondary-gradient-background();

  font-weight: 500;

  font-size: 1.3em;

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  font-family: $body-font;



  &:hover{

  outline: 2px solid $secondary-color;

  color: $secondary-color;

  background: $white-color;
    }
  }
