#h3{
  text-align: center;
  margin-top: 16px;
  margin-bottom: 1em;
}

.show-item {
  background-color: white;
  font-family: 'Fira Code', sans-serif;
  padding-top: 12px;
}

.item-box {
  display: flex;
  justify-content: space-between;
}

.flex-item{
  display: flex;

}

.quantity{
  margin-left: 9px;
  margin-top: 2px;
}

.name{
  margin-left: 9px;
  margin-top: 2px;
  margin-bottom: 4px;
}

.price{
  margin-top: 2px;
  margin-right: 5%;
  margin-left: 14%;
}

#bar {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}

.total{
  display: flex;
  justify-content: end;
  margin-top: 12px;
}
#h5{
  margin-top: 5px;
  font-size: x-large;
  font-family: 'Fira Code', sans-serif;
}
.total-price{
  margin-left: 56px;
  margin-bottom: 25px;
  margin-right: 6%;
  font-weight: 700;
  font-size: x-large;
}

.button{
  width: 67%;
  height: 60px;
  margin-top: 17px;
  margin-bottom: 30px;
  background-color: $secondary-color;
  border-radius: 2em;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  @include secondary-gradient-background();
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    outline: 2px solid $secondary-color;
    color: $secondary-color;
    background: $white-color;
  }
}
