h3{
  // text-align: center;
  margin-top: 16px;
  margin-bottom: 1em;
}

.show-item {
  background-color: white;
  font-family: 'Fira Code', sans-serif;
}

.item-box {
  display: flex;
  justify-content: space-between;
}

.name{
  margin-left: 4%;
  margin-top: 1em;
}

.price{
  margin-top: 1em;
  margin-right: 6%;
  margin-left: 14%;
}

#bar {
  display: flex;
  justify-content: end;
}

.total{
  display: flex;
  justify-content: end;
}

.total-price{
  margin-left: 56px;
  margin-bottom: 35px;
  margin-right: 6%;
}

.button{
  width: 67%;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: $secondary-color;
  border-radius: 2em;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
  @include secondary-gradient-background();
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    outline: 2px solid $secondary-color;
    color: $secondary-color;
    background: $white-color;
  }
}
